<!DOCTYPE HTML>

<html lang="en">
  <head>
    <title>Partials Benchmark</title>
    <meta charset="utf-8">
    <meta name="description" content="This is an example of a meta description.">
  </head>
  <body>
    <h1><%= header %></h1>
    <% unless colours.empty? %>
      <ul>
      <% for colour in colours %>
        <%= render partial: "erb_partial", locals: {colour:} %>
      <% end %>
      </ul>
    <% else %>
      <p>The list is empty.</p>
    <% end %>
  </body>
</html>