<!DOCTYPE HTML>

<html lang="en">
  <head>
    <title>Simple Benchmark</title>
    <meta charset="utf-8">
    <meta name="description" content="This is an example of a meta description.">
  </head>
  <body>
    <h1>Colours</h1>
      <ul>
        <li><strong>red</strong></li>
        <li><a href="#green">green</a></li>
        <li><a href="#blue">blue</a></li>
        <li><a href="#yellow">yellow</a></li>
        <li><a href="#magenta">magenta</a></li>
        <li><a href="#cyan">cyan</a></li>
        <li><a href="#light-red">light red</a></li>
        <li><a href="#light-green">light green</a></li>
        <li><a href="#light-blue">light blue</a></li>
        <li><a href="#light-yellow">light yellow</a></li>
        <li><a href="#light-magenta">light magenta</a></li>
        <li><a href="#light-cyan">light cyan</a></li>
      </ul>
  </body>
</html>